@model IEnumerable<website_CLB_HTSV.Models.SinhVien>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- ======= Counts Section ======= -->
<section id="counts" style="padding-bottom: 0" class="counts">
    <div class="container">

        <div class="row justify-content-center">
            @* <div class="image col-xl-5 d-flex align-item- justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="/assets/img/banner1.png" alt="" class="img-fluid">
            </div> *@
            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-person"></i>
                                <span data-purecounter-start="0" data-purecounter-end="@Model.Count()" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Số lượng thành viên <strong>đông đảo, vui vẻ, hòa đồng, nhiệt huyết.</strong></p>
                            </div>
                        </div>
@* 
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-activity"></i>
                                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Có nhiều hoạt động <strong>hấp dẫn, ý nghĩa </strong> dành cho tất cả thành viên tham gia.</p>
                            </div>
                        </div> *@
                        @{
                            DateTime now = DateTime.Now;
                            // Lấy năm hiện tại
                            int currentYear = now.Year;

                            // Số năm của năm hiện tại trừ đi 2021
                            int namhd = currentYear - 2021;

                        }
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-cake"></i>
                                <span data-purecounter-start="0" data-purecounter-end="@namhd" data-purecounter-duration="1" class="purecounter"></span>
                                <p>TÍnh đến nay <strong>CLB Hành Trình Sinh viên</strong> đã hoạt động được hơn @namhd năm.</p>
                            </div>
                        </div>
@* 
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-award"></i>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Và cũng đã đạt được nhiều <strong>Danh hiệu</strong> trong quá trình hình thành và phát triển.</p>
                            </div>
                        </div> *@
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Counts Section -->





<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg" style="padding-top: 0; padding-bottom: 0">
    <div class="container pb-3">

        <div class="section-title" style="margin-bottom: 0" data-aos="fade-up">
            <h2 style="color: #38b7fd;font-size: 18px;">Ban Chủ Nhiệm</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @if (Model != null)
                {
                    @foreach (var sinhVien in Model)
                    {
                        <div class="swiper-slide rounded-3xl" >
                            <div class=" member-container col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="100">
                                    <div class="member-img">
                                        @if (sinhVien.HinhAnh != null)
                                        {
                                            <img src="@(Url.Content("~/userimages/" + sinhVien.HinhAnh))" alt="Hình ảnh sinh viên" class="img-thumbnail" />
                                        }
                                        else
                                        {
                                            <img src="https://picsum.photos/500" class="img-fluid" alt="Avatar">
                                        }
                                    </div>
                                    <br />
                                    <div class="member-info">
                                        <a href="/SinhViens/Details/?id=@sinhVien.MaSV">  <h4>@sinhVien.HoTen</h4></a>
                                        @if (sinhVien.ChucVu != null)
                                        {
                                            <span>@sinhVien.ChucVu.TenChucVu</span>
                                        }
                                        else
                                        {
                                            <span>Chưa có chức vụ</span>
                                        }
                                        <br />
                                        <a class="btn btn-primary" href="/SinhViens/Details/?id=@sinhVien.MaSV" >Xem thông tin</a>
                                        @* <a href="/SinhVien/Details/?MaSV=@sinhVien.MaSV" class="btn btn-primary">Xem thông tin</a> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @* <div class="swiper-pagination"></div> *@
        </div>
    </div>
</section><!-- End Testimonials Section -->


<style>

     /* CSS cho phần section-title */
    .section-title {
        text-align: center; /* căn giữa tiêu đề */
        margin-bottom: 45px; /* khoảng cách dưới */
    }

    .section-title h2 {
        font-size: 24px; /* kích thước phông chữ tiêu đề */
        font-weight: bold; /* đậm */
        color: #333; /* màu chữ */
    }

    /* Media query cho điện thoại di động */
    @@media only screen and (max-width: 600px) {
        .section-title h2 {
            font-size: 18px; /* Giảm kích thước phông chữ tiêu đề */
        }

        .section-title{
            padding: 0;
        }
    }







    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;

        justify-content: center;
        align-items: center;
        position: relative; /* Đặt vị trí tương đối để điều chỉnh vị trí phần tử con */
    }

        .swiper-slide::before {
            content: ""; /* Thêm một phần tử giả tạo */
            position: absolute; /* Đặt vị trí tuyệt đối để tạo nền mờ */
            top: 0;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 85%;
            height: 100%;
            border-radius: 25px;
            background: rgb(255,242,254);
            background: linear-gradient(90deg, rgba(255,242,254,1) 0%, rgba(213,248,255,1) 100%, rgba(164,225,255,1) 100%);
            filter: blur(5px); /* Áp dụng hiệu ứng mờ */
            z-index: -1; /* Đảm bảo phần tử này ở phía sau phần tử khác */
        }

    .member-container {
        justify-content: center;
        width: 400px;

    }

    .member {
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
    }

    .member-img img {
        width: 190px;
        border-radius: 50%;
        border: 4px solid rgb(72, 191, 255);
        transition: transform 0.3s ease-in-out;
    }

    .member-img:hover img {
        border: 5px solid rgb(0, 255, 255);
        transition: 0.3s;
    }

    .member-info {
        text-align: center;
        margin-top: 10px;
        position: relative; /* Đặt vị trí tương đối để điều chỉnh vị trí */
    }

        .member-info h4 {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap; /* Ngăn họ tên xuống hàng */
            position: absolute; /* Đặt vị trí tuyệt đối để điều chỉnh vị trí */
            top: -25px; /* Điều chỉnh vị trí theo nhu cầu của bạn */
            left: 50%; /* Điều chỉnh vị trí theo nhu cầu của bạn */
            transform: translateX(-50%); /* Điều chỉnh vị trí theo nhu cầu của bạn */
            z-index: 1; /* Đảm bảo phần tử này hiển thị trên phần tử khác */
        }

        .member-info span {
            font-size: 16px;
        }
</style>
