@model IEnumerable<website_CLB_HTSV.Models.DangKyHoatDong>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-2xl font-semibold mb-4 overflow-y-auto" style="max-height: calc(3 * (3.5rem + 1rem));">Hoạt động đã đăng ký</h2>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
@if (User.IsInRole("Administrators"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="DangKyHoatDongs" asp-action="Index" class="search-form justify-center mb-2">
        <div class="search-container">
            <input type="text" class="search-input w-full md:w-80 mb-2 md:mb-0" placeholder="Tìm kiếm" name="SearchString">
            <button class="search-button ml-2">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoatDong.TenHoatDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDangKy)
            </th>
            <th>Trạng thái hoạt động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoatDong.TenHoatDong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
                </td>
                <td>
                    @item.NgayDangKy.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (item.TrangThaiDangKy)
                    {
                        <span class="tick-mark">&#10003;</span>
                    }
                    else
                    {
                        <span class="cross-mark">&#10005;</span>
                    }
                </td>
                <td>@item.HoatDong.TrangThai</td>
                @if (item.HoatDong.TrangThai != "Đã kết thúc")
                {
                <td>
                    <form asp-controller="DangKyHoatDongs" asp-action="HuyDangKy" method="post" asp-route-hoatDongId="@item.MaHoatDong">
                        <button type="submit" class="bg-red-500 text-white font-semibold px-4 py-2 rounded hover:bg-red-600 register-btn">
                            Hủy 
                        </button>
                    </form>
                </td>
                    
                }
                @if (User.IsInRole("Administrators"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaDangKy">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MaDangKy">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MaDangKy">Delete</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>


<style>

    /* Form */
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-container {
        position: relative;
        width: 100%; /* Thanh tìm kiếm sẽ căng toàn bộ chiều rộng của phần tử cha */
    }

    .search-input {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #38b7fd;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        background-color: transparent;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 10px;
    }

        .search-button i {
            font-size: 20px;
        }

    @@media (min-width: 640px) {
        .search-container {
            width: 700px;
        }

        .search-input {
            width: 700px; /* Đặt lại kích thước cho trường hợp màn hình lớn hơn 640px */
            min-width: 200px; /* Đặt kích thước tối thiểu cho ô tìm kiếm */
        }
    }

</style>