@model IEnumerable<website_CLB_HTSV.Models.SinhVien>


<!-- ======= Testimonials Section ======= -->

<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Ban Chủ Nhiệm</h2>
            <p>
                TUỔI TRẺ
                LÀ ĐỂ CỐNG HIẾN
            </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @if (Model != null)
                {
                    @foreach (var sinhVien in Model)
                    {
                        <div class="swiper-slide" style="border-radius: 20px;">
                            <div class="member-container col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="100">
                                    <div class="member-img">
                                        @if (sinhVien.HinhAnh != null)
                                        {
                                            <img src="@(Url.Content("~/userimages/" + sinhVien.HinhAnh))" class="img-thumbnail" alt="Avatar" />
                                        }
                                        else
                                        {
                                            <img src="https://picsum.photos/500" class="img-fluid" alt="Avatar">
                                        }
                                    </div>
                                    <br />
                                    <div class="member-info">
                                        <h4>@sinhVien.HoTen</h4>
                                        @if (sinhVien.ChucVu != null)
                                        {
                                            <span>@sinhVien.ChucVu.TenChucVu</span>
                                        }
                                        else
                                        {
                                            <span>Chưa có chức vụ</span>
                                        }
                                        <br />
                                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@sinhVien.MaSV">Xem thông tin</a>
                                        @* <a href="/SinhVien/Details/?MaSV=@sinhVien.MaSV" class="btn btn-primary">Xem thông tin</a> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->


<style>
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Đặt vị trí tương đối để điều chỉnh vị trí phần tử con */
    }

        .swiper-slide::before {
            content: ""; /* Thêm một phần tử giả tạo */
            position: absolute; /* Đặt vị trí tuyệt đối để tạo nền mờ */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: rgb(255,242,254);
            background: linear-gradient(90deg, rgba(255,242,254,1) 0%, rgba(213,248,255,1) 100%, rgba(164,225,255,1) 100%);
            filter: blur(5px); /* Áp dụng hiệu ứng mờ */
            z-index: -1; /* Đảm bảo phần tử này ở phía sau phần tử khác */
        }

    .member-container {
        justify-content: center;
        width: 400px;
    }

    .member {
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
    }

    .member-img img {
        width: 190px;
        border-radius: 50%;
        border: 4px solid rgb(72, 191, 255);
        transition: transform 0.3s ease-in-out;
    }

    .member-img:hover img {
        border: 5px solid rgb(0, 255, 255);
        transition: 0.3s;
    }

    .member-info {
        text-align: center;
        margin-top: 10px;
        position: relative; /* Đặt vị trí tương đối để điều chỉnh vị trí */
    }

        .member-info h4 {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap; /* Ngăn họ tên xuống hàng */
            position: absolute; /* Đặt vị trí tuyệt đối để điều chỉnh vị trí */
            top: -25px; /* Điều chỉnh vị trí theo nhu cầu của bạn */
            left: 50%; /* Điều chỉnh vị trí theo nhu cầu của bạn */
            transform: translateX(-50%); /* Điều chỉnh vị trí theo nhu cầu của bạn */
            z-index: 1; /* Đảm bảo phần tử này hiển thị trên phần tử khác */
        }

        .member-info span {
            font-size: 16px;
        }
</style>

<!-- End Testimonials Section -->
@*


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LopHoc.TenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSV">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaSV">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSV">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@