@model PaginatedList<SinhVien>

@{
    ViewData["Title"] = "Danh sách Sinh Viên";
}

<h1>Danh sách Sinh Viên</h1>
@if (User.IsInRole("Administrators"))
{
    <p>
        <a asp-action="Create">Tạo mới</a>
    </p>

    <form asp-action="Index" method="get" class="search-form justify-center mb-2">
        <div class="search-container">
            <input type="text" class="search-input w-full md:w-80 mb-2 md:mb-0" placeholder="Tìm kiếm" name="SearchString" value="@ViewData["CurrentFilter"]">
            <button class="search-button ml-2">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Sinh Viên
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Chức Vụ
            </th>
            <th>
                Lớp
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sinhVien in Model.Items)
        {
            <tr>
                <td>
                    @sinhVien.MaSV
                </td>
                <td>
                    @sinhVien.HoTen
                </td>
                <td>
                    @sinhVien.ChucVu.TenChucVu
                </td>
                <td>
                    @sinhVien.LopHoc.MaLop
                </td>
                <td> <img src="@(Url.Content("~/userimages/" + sinhVien.HinhAnh))" alt="Hình ảnh sinh viên" class="img-thumbnail" style="width: 50px;" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sinhVien.MaSV">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@sinhVien.MaSV">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@sinhVien.MaSV">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
@*     Trang @(Model.PageIndex) của @Model.TotalPages *@
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>



<style>

    /* Form */
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-container {
        position: relative;
        width: 100%; /* Thanh tìm kiếm sẽ căng toàn bộ chiều rộng của phần tử cha */
    }

    .search-input {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #38b7fd;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        background-color: transparent;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 10px;
    }

        .search-button i {
            font-size: 20px;
        }

    @@media (min-width: 640px) {
        .search-container {
            width: 700px;
        }

        .search-input {
            width: 700px; /* Đặt lại kích thước cho trường hợp màn hình lớn hơn 640px */
            min-width: 200px; /* Đặt kích thước tối thiểu cho ô tìm kiếm */
        }
    }

</style>
